- # app/views/role_events/forms/_role_interview_event_form.html.haml

- path = event.persisted? ? role_event_path(role, event) : role_events_path(role)

= form_for event, :as => :role_event, :url => path, :builder => BootstrapHorizontalFormBuilder do |form|
  = form.hidden_field :_type

  = form.form_group :subtype, :label => 'Type' do
    = form.select :subtype, options_for_select(presenter.select_options_for_subtype, event.subtype)

  = form.form_group :notes do
    = form.text_area :notes

  = form.form_group do
    = form.submit event.persisted? ? 'Update Event' : 'Create Event'
    = form.button 'Cancel', event.persisted? ? role_event_path(role, event) : role_path(role)
