- # app/views/roles/_form.html.haml

- presenter = RolePresenter.new(role)

%h2 New Role
= form_for role, :builder => BootstrapHorizontalFormBuilder do |form|
  = form.form_group :company do
    = form.text_field :company, :autofocus => true
  = form.form_group :title do
    = form.text_field :title
  = form.form_group :state do
    = form.select :state, options_for_select(presenter.select_options_for_state, role.state)
  = form.form_group :urls, :label => 'URLs' do
    = form.text_area :urls
  = form.form_group do
    = form.submit 'Create Role'
    = form.button 'Cancel', roles_path
