- # app/views/roles/_form.html.haml

- presenter = RolePresenter.new(role)

= form_for role, :builder => BootstrapHorizontalFormBuilder do |form|
  = form.form_group :company do
    = form.text_field :company, :autofocus => true
  = form.form_group :title do
    = form.text_field :title
  = form.form_group :state do
    = form.select :state, options_for_select(presenter.select_options_for_state, role.state)
  = form.form_group :recruiter_id do
    = form.select :recruiter_id, options_for_select(RecruiterPresenter.select_options_for_recruiters, role.recruiter_id)
  = form.form_group :urls, :label => 'URLs' do
    = form.text_area :urls
  = form.form_group do
    = form.submit role.persisted? ? 'Update Role' : 'Create Role'
    = form.button 'Cancel', role.persisted? ? role_path(role) : roles_path
