- # app/views/roles/index.html.haml

%h2 Roles

%p= link_to 'Create Role', new_role_path, :class => 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Company
      %th Title
      %th State
      %th Date Applied
  %tbody
    - @roles.each do |role|
      - presenter = RolePresenter.new(role)
      %tr
        %td= link_to presenter.company, role_path(role)
        %td= presenter.title
        %td= presenter.state
        %td= presenter.applied_at
