- # app/views/roles/show.html.haml

- presenter = RolePresenter.new(@role)

%h2= presenter.label

%p
  = link_to 'Edit Role', edit_role_path(@role), :class => 'btn btn-primary'
  = link_to 'Delete Role', role_path(@role), :class => 'btn btn-danger', :method => :delete

%p.col-sm-2.text-right
  %strong Company:
%p.col-sm-10= presenter.company

%p.col-sm-2.text-right
  %strong Title:
%p.col-sm-10= presenter.title

%p.col-sm-2.text-right
  %strong State:
%p.col-sm-10= presenter.state

%p.col-sm-2.text-right
  %strong Date Applied:
%p.col-sm-10= presenter.applied_at

%p
  = link_to roles_path do
    %span.glyphicon.glyphicon-arrow-left
    Back To Roles
