- # app/views/roles/show.html.haml

- presenter = present(@role)

%h2= presenter.label
%p
  = link_to edit_role_path(@role), :class => 'text-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit Role
  &nbsp;
  = link_to role_path(@role), :class => 'text-danger', :method => :delete do
    %span.glyphicon.glyphicon-trash
    Delete Role

%p.col-sm-2.text-right
  %strong Company:
%p.col-sm-10= presenter.company

%p.col-sm-2.text-right
  %strong Title:
%p.col-sm-10= presenter.title

%p.col-sm-2.text-right
  %strong State:
%p.col-sm-10= presenter.state

%p.col-sm-2.text-right
  %strong Recruiter:
%p.col-sm-10= presenter.recruiter

%p.col-sm-2.text-right
  %strong Agency:
%p.col-sm-10= presenter.agency

%p.col-sm-2.text-right
  %strong Date Applied:
%p.col-sm-10= presenter.applied_at

%h3 Events

%p
  = link_to new_role_event_path(@role) + '?event_type=interview', :class => 'text-primary' do
    %span.glyphicon.glyphicon-plus
    Create Interview Event

= render :partial => 'role_events/table', :locals => { :events => @role.events }

%br
%p
  = link_to roles_path do
    %span.glyphicon.glyphicon-arrow-left
    Back To Roles
